@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&display=swap');



body .rtl {
    font-family: 'Almarai', sans-serif;
}

.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6 {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.rtl .property-card-image .property-added-by {
    right: auto;
    left: 25px;
}

.rtl .propert-card-features .pcf-item .pcf-item-top svg {
    margin-left: 0;
    margin-right: 4px;
}

.rtl .propert-card-buttons button.btn:last-of-type {
    margin-left: 0;
    margin-right: 12px;
}

.rtl .property-card-info .property-card-price div {
    margin-left: 0;
    margin-right: 5px;
}

.rtl aside.properties-filter .filter-group h5.filter-group-title svg {
    margin-left: 5px;
    margin-right: 0;
}

.rtl .search-property-layout-content .propert-card-features {
    column-gap: 15px;
}

.rtl .service-box .icon-box {
    right: auto;
    left: 30px;
}

.rtl .s-title-box {
    padding-left: 0;
    padding-right: 14px;
}

.rtl .s-title-box:before {
    left: auto;
    right: 0px;
}

.rtl .search-property-layout-header .splh-left span p {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .splhr-item:first-of-type:before {
    right: auto;
    left: -9px;
}

.rtl .p-d-v-content .input-with-icon svg {
    right: auto;
    left: 15px;
}

.rtl .arrow-to-right.property-viwer-btns .btn.active:before {
    border-right-color: #fff;
    border-left-color: transparent;
    right: auto;
    left: -37px;
}

.rtl .add-property-page form .aft-item {
    padding-right: 20px;
}

.rtl .add-property-page form .aft-item:before {
    right: 0;
    left: auto;
}

.rtl .add-property-page form .form-group label {
    padding-left: 0;
    padding-right: 15px;
}

.rtl .navbar-auth-area-inner .navbar-auth-user-data .userName {
    margin-left: 0px;
    margin-right: 10px;
}

.rtl .big-slider .custom-icon.slick-next {
    left: auto;
}

.rtl .property-viwer-btns .btn.active:before {
    left: auto;
    right: -17px;
    border-right-color: transparent;
    border-left-color: #fff;
}

.rtl .service-box a svg {
    margin-left: 0;
    margin-right: 8px;
    transform: rotate(180deg);
}

.rtl .arrow-to-right.property-viwer-btns .btn.active:before {
    left: -17px;
}

.rtl .register .css-qc6sy-singleValue,
.rtl .register .css-14el2xx-placeholder {
    text-align: right;
}

.rtl .login-area.login-page-content .form-group .input-icon {
    left: auto;
    right: 10px;
}

.rtl .login-area.login-page-content .form-group input {
    padding-left: 0;
    padding-right: 55px;
}

.rtl .react-tel-input .special-label {
    left: auto;
    right: 46px;
}

.rtl .register .react-tel-input .flag-dropdown {
    left: auto;
    right: 10px;
}

.rtl .react-tel-input .selected-flag {
    padding-left: 0;
    padding-right: 8px;
}

.rtl .react-tel-input .selected-flag .arrow {
    left: auto;
    right: 20px;
}

.rtl .register .react-tel-input .country-list .country {
    text-align: right;
}

.rtl .react-tel-input .country-list .flag {
    margin-right: 0;
    margin-left: 7px;
}

.rtl .login-area.login-page-content .react-tel-input .form-control {
    unicode-bidi: plaintext;
    font-family: 'Almarai', sans-serif;
    padding-left: 20px;
    text-align: right;
}

.rtl .login-area.login-page-content .form-group .show-password-icon {
    right: auto;
    left: 15px;
}

.rtl .notification-text {
    padding-right: 0;
    padding-left: 50px;
}

.rtl .notification-close {
    right: auto;
    left: 10px;
}

.rtl .notification-text p {
    text-align: right;
}

.rtl .notification-wrap {
    left: auto;
    right: 10px;
}

html[lang="ar"] .feedback-text span {
    text-align: right;
}

html[lang="ar"] .feedback-header {
    text-align: right;
}

html[lang="ar"] .feedback-text textarea {
    text-align: right;
}

html[lang="ar"] .feedback-links {
    text-align: right;
}

.rtl li.navbar-menu-list-item.disabled span {
    width: 200px;
}

.rtl span.for-beta {
    width: 200px;
}

.rtl .note-box {
    right: auto;
    left: 25px;
}

.rtl .c-info-box.phones a {
    direction: ltr;
}

.rtl .project-slide-box .project-slide-info {
    text-align: right;
}