@media (max-width: 768px) {
    .rtl .mobile-menu-list .mobile-menu-list-item a.mobile-menu-link .mml-icon {
        margin-right: 0;
        margin-left: 10px;
    }


    .rtl .mobile.navbar .auth-dropdown.popup.show {
        left: 0px;
        right: auto;
        border: 1px solid #ccc;
        top: calc(100% + 10px);
        min-width: 150px;
    }

    .rtl .mobile.navbar .auth-dropdown.popup.show:before {
        right: auto;
        left: 34px;
    }

    .rtl ul.auth-dropdown-list li.auth-dropdown-list-item svg {
        margin-right: 0;
        margin-left: 6px;
    }


    .rtl .company_onwer_box {
        left: auto;
        right: 185px;
    }

    .rtl .mobile-menu.active {
        left: auto;
        right: 0;
    }

    .rtl .filter-btn .submit-filter-btn span {
        margin-left: 0;
        margin-right: 4px;
    }

    .rtl .filter-btn .submit-filter-btn {
        font-size: 14px;
    }

    .rtl .intro-filter .filter-options label {
        margin-bottom: 2px;
        margin-right: 10px;
        color: #9f9f9f;
    }


    html[lang="ar"] .fixed-button {
        margin: 110px 0 0 -36px;
    }

    .rtl .add-property-page .property-viwer-btns {
        justify-content: space-around;
    }

    .rtl .add-property-page .property-viwer-btns .btn.active:before {
        border-right-color: transparent;
        right: auto;
        left: 50%;
    }

    .rtl .arrow-to-right.property-viwer-btns .btn.active:before {
        left: 50%;
        border-right-color: transparent;
    }



}